@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- End loader -->
<!-- Document Wrapper
 ============================================= -->
<div id="wrapper">
    <!-- banner
    ============================================= -->
    <section class="banner about dark">
        <div id="service-parallax">
            <div class="bcg background1"
                 data-center="background-position: 50% 0px;"
                 data-bottom-top="background-position: 50% 100px;"
                 data-top-bottom="background-position: 50% -100px;"
                 data-anchor-target="#service-parallax">
                <div class="bg-transparent">
                    <div class="banner-content">
                        <div class="container">
                            <div class="slider-content">

                                <h1>About us</h1>
                                <p>Where we all strart.</p>
                                <ol class="breadcrumb">
                                    <li><a href="/Home/IndexCustomer">Home</a></li>
                                    <li>About Us</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- End Banner content -->
                </div>
                <!-- End bg trnsparent -->
            </div>
        </div>
        <!-- Service parallax -->
    </section>
    <!-- End Banner -->
    <div id="content">
        <!-- Our Menu
        ============================================= -->
        <section class="our_mession padding-100 text-center">
            <div class="container">
                <div class="row">
                    <!-- Head Title -->
                    <div class="head_title">
                        <i class="icon-intro"></i>
                        <h1>OUR Menu</h1>
                    </div>
                    <!-- End # Head Title -->
                    <div class="clearfix"></div>
                    <div class="mission-wrapper ">
                        <div class="col-md-6 mission-slide">
                            <div id="mission-slider" class="owl-carousel mission-slider">
                                <div class="item">
                                    <img src="~/Content/customer/img/KingsCafeMenu/menu1.jpeg" height="560" width="350" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/customer/img/KingsCafeMenu/menu2.jpeg" height="560" width="350"
                                         alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/customer/img/KingsCafeMenu/menu3.jpeg" height="560" width="350"
                                         alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/customer/img/KingsCafeMenu/menu4.jpeg" height="560" width="350"
                                         alt="">
                                </div>
                            </div>
                        </div>
                        <!-- End mission slider -->
                        <div class="head_title">
                            <i class="icon-intro"></i>
                            <span class="welcome"> Welcome to King's Cafe </span>
                        </div>
                        <div class="col-md-5 text-left text-center darkgray missioncontent">
                            <p>
                                <b>"To eat is a necessity, but to eat intelligently is an art"</b>.<br/>We aim to home-produce as much as possible for the best quality, and to reduce food miles.  Our delicious Pratha/Tortilla, traditional Sandwiches, Burgers, Nuggets, and Fries accompaniments are produced in our own kitchens.Ice Tech and Tea are often used to incorporate calories and nutrition into a busy lifestyle or support a health goal"
                            </p>
                        </div>
                        <!-- End mission content -->
                    </div>
                </div>
                <!--ends mission-wrapper -->
            </div>
        </section>
        <section class="extra_touch black-bg dark padding-100 text-center">
            <div class="container">
                <div class="row">
                    <h2>
                        Come & <span>Experiences</span> our best of world class
                        Cafe
                    </h2>
                    <a href="~/Home/contact" class="btn btn-gold white">Contact Us</a>
                </div>
            </div>
        </section>
        <!-- End extra touch -->
        <!-- End Our Mission -->
        <!-- Intro
        ============================================= -->
        <section id="intro01" class="padding-100 intro2_01">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive"
                             src="~/Content/customer/img/home2/art.jpg" alt="">
                    </div>
                    <div class="col-md-5 text-center intro_message mt40">
                        <!-- Head Title -->
                        <div class="head_title">
                            <i class="icon-intro"></i>
                            <h1>ART OF FOOD</h1>
                            <span class="welcome">Welcome to King's Cafe</span>
                        </div>
                        <!-- End# Head Title -->
                        <p>
                            King's Cafe aims at promoting the foodstuff industry , we establish and through the new dishes. and integrate between different cultures, by merging different Oriental
                        </p>
                    </div>
                    <!-- End intro center -->
                </div>
            </div>
        </section>
        <!-- End intro -->
    </div>

</div>
<!-- End #content -->