@using KingsCafe_V2.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content">
    <section id="bgndVideo" class="fullheight yt-bg-player player" data-property="{videoURL:'HAeWL6I25rc',containment:'.fullheight', showControls:true, autoPlay:true, loop:true, vol:50, mute:false, startAt:0,  stopAt:296, opacity:1, addRaster:true, quality:'large', optimizeDisplay:true}">
        <!-- Bg transparent -->
        <div class="bg-transparent ">
            <!-- Slider content -->
            <div class="container dark slider-content">
                <i class="icon-top-draw"></i>
                <div id="text-transform" class="owl-carousel">
                    <div class="item">
                        <h1>King's Cafe</h1>
                    </div>
                    <div class="item">
                        <h1>KEEP CALM &amp; TASTE OUR FOOD</h1>
                    </div>
                    <div class="item">
                        <h1>King's Cafe</h1>
                    </div>
                </div>
                <p class="text-capitalize">Taste k Bhndaarrr</p>
                <i class="icon-bottom-draw"></i>
            </div>
            <!-- End Slider content -->
        </div>
        <!-- End Bg transparent -->
    </section>
    <!-- Welcome block
    ============================================= -->
    <section class="padding-100 welcome-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6"> <img class="img-responsive" src="~/Content/Customer/img/home2/art.jpg" alt=""> </div>
                <!-- Intro message -->
                <div class="col-md-5 text-center intro_message mt40">
                    <!-- Head Title -->
                    <div class="head_title">
                        <i class="icon-intro"></i>
                        <h1>ART OF FOOD</h1>
                        <span class="welcome">Welcome to King's Cafe</span>
                    </div>
                    <!-- End# Head Title -->
                    <p>King's Cafe aims at promoting the foodstuff industry , we establish and through the new dishes. and integrate between different cultures, by merging different Oriental</p>

                </div>
                <!-- End Intro message  -->
            </div>
        </div>
    </section>
    <!-- End Welcome block -->
    <!-- Chef Message
    ============================================= -->
    <section id="slide2-01" class="chef-message dark text-center">
        <!-- Bg Parallax -->
        <div class="bcg background35"
             data-center="background-position: 50% 0px;"
             data-bottom-top="background-position: 50% 100px;"
             data-top-bottom="background-position: 50% -100px;"
             data-anchor-target="#slide2-01">
            <!-- Bg Transparent -->
            <div class="bg-transparent padding-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Chef Message</h1>
                            <p>We aim to home-produce as much as possible for the best quality, and to reduce food miles.  Our delicious Pratha/Tortilla, traditional Sandwiches, Burgers, Nuggets, and Fries accompaniments are produced in our own kitchens.Ice Tech and Tea are often used to incorporate calories and nutrition into a busy lifestyle or support a health goal.</p>
                            <h2 class="signature">King's Cafe</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End bg transparent -->
        </div>
        <!-- End Bg Parallax -->
    </section>
    <!-- End Chef message -->

    <br>
    <br />



    <section id="slide2-02" class="date-blocks dark text-center">
        <!-- Bg Parallax -->
        <div class="bcg background31"
             data-center="background-position: 50% 0px;"
             data-bottom-top="background-position: 50% 100px;"
             data-top-bottom="background-position: 50% -100px;"
             data-anchor-target="#slide2-02">
            <!-- Bg transparent -->
            <div class="bg-transparent padding-100">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <!-- Block item -->
                            <div class="block-item">
                                <img src="~/Content/Customer/img/lunch.png" alt="">
                                <h2>FASTFOOD</h2>
                                <p>5.00 am 5.00 pm</p>
                            </div>
                            <!-- End Block item -->
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <!-- Block item -->
                            <div class="block-item">
                                <img src="~/Content/Customer/img/dinner.png" alt="">
                                <h2>FRESHJUICIES</h2>
                                <p>5.00 am 5.00 pm</p>
                            </div>
                            <!-- End Block item -->
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <!-- Block item -->
                            <div class="block-item">
                                <img src="~/Content/Customer/img/dessert.png" alt="">
                                <h2>SHAKES</h2>
                                <p>5.00 am 5.00 pm</p>
                            </div>
                            <!-- End Block item -->
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <!-- Block item -->
                            <div class="block-item">
                                <img src="~/Content/Customer/img/breakfast.png" alt="">
                                <h2>TEA</h2>
                                <p>5.00 am 5.00 pm</p>
                            </div>
                            <!-- End Block item -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End bg transparent -->
        </div>
        <!-- End Bg Parallax -->
    </section>
    
    <section class="masonry_menu padding-100 text-center ">

        <!-- Head Title -->
        <div class="head_title">
            <i class="icon-intro"></i>
            <h1>OUR MENU</h1>
            <span class="welcome">Choose & Taste</span>
        </div>
       

        <div class="menu_grid our-menu text-center padding-b-70">
            <!-- Menu Bar -->
            <div class="menu-bar dark">
                <!-- menu Filter
                ============================================= -->
                <ul id="menu-fillter" class="clearfix">


                    <li>

                    <a href="/Home/Menu/" data-filter=".pf-daily-menu"> ALL </a></li>
                    @foreach (var c in (List<Category>)ViewBag.Cats)
                    {
                        <li><a href="/Home/Menu/@c.CatID" data-filter=".pf-daily-menu">@c.Name</a></li>
                    }
                </ul>
                <!-- #menu-filter end -->
            </div>
            

            <div class="container mt60">
                <!-- Menu Items Masonary Content -->
                <div id="menu-items" class="masonry-content menu-type dark clearfix">
                    <!-- Menu Item -->
                    @foreach (var item in (List<Category>)ViewBag.Cats)
                    {
                            <article class="menu-item col-md-4 col-sm-6 col-xs-12 pf-desert">
                                <!-- Overlay Content -->
                               <a href="/Home/Menu/@item.CatID">
                                   <div class="overlay_content overlay-menu">
                                       <!-- Overlay Item -->
                                       <div class="overlay_item">
                                           <span class="label">best seller</span> <img src="@Url.Content(item.Image)" alt="" style="width:100%; height:300px">
                                           <!-- Overlay -->
                                           <div class="overlay">
                                               <!-- Icons -->
                                               <div class="icons">
                                                   <h3>@item.Name</h3>
                                                   <a class="close-overlay hidden">x</a>
                                               </div>                                           
                                           </div>                                         
                                       </div>                                     
                                   </div>
                               </a>                               
                            </article>
                        
                    }
                </div>                
            </div>
           </div>
    </section>


    <section id="slide-3-5" class="app dark">
        <!-- Bg Parallax -->
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-bottom-top="background-position: 50% 100px;"
             data-top-bottom="background-position: 50% -100px;"
             data-anchor-target="#slide-3-5"
             style="background-image:url('img/background/bg_11.jpg');">
            <!-- Bg transparent -->
            <div class="bg-transparent padding-50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-0">
                            <!-- App Img  -->
                            <img class="absolute" src="~/Content/Customer/img/app.png" alt="">
                            <!-- End App Img  -->
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <!-- App Content -->
                            <div class="padding-100 app_content">
                                <h1><span>Become</span> Life <span>More</span> Easier</h1>
                                <p class="italic">We aim to home-produce as much as possible – for the best quality, and to reduce “food miles”.  Our delicious cakes, traditional Devon scones, breads, soups, sauces and accompaniments are  Even our bottled water is produced in-house, using a sophisticated seven-stage filtration  .</p>
                                <!-- Buttons -->
                                <div class="buttons"> <a href="#" class="btn  btn-gold white">Google play store</a> <a href="#" class="btn btn-gold white">Apple store</a> </div>
                                <!--End Buttons -->
                            </div>
                            <!-- End App Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End bg transparent -->
        </div>
        <!-- End Bg Parallax -->
    </section>
    <!-- End app -->
    <!-- Extra touch Block
    ============================================= -->
    <section class="extra_touch padding-100 text-center">
        <div class="container">
            <div class="row">
                <h2>Come & <span>Experiences</span> our best of world class cafe</h2>
                <a href="~/home/contact" class="btn black btn-gold ">GET IN TOUCH</a>
            </div>
        </div>
    </section>
    <!-- End extra touch -->
</div>
